<div class="login-wrapper">
  <div class="login-container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo ThreadingBrow Bar">
    </div>

    <div class="login-form full-withradius">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1>Login</h1>

        <!-- Email Field -->
        <div class="input-group mb-3">
          <span class="input-group-text">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.83329 2.83331H14.1666C14.9458 2.83331 15.5833 3.47081 15.5833 4.24998V12.75C15.5833 13.5291 14.9458 14.1666 14.1666 14.1666H2.83329C2.05413 14.1666 1.41663 13.5291 1.41663 12.75V4.24998C1.41663 3.47081 2.05413 2.83331 2.83329 2.83331Z" stroke="#A7AFB3" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15.5833 4.25L8.49996 9.20833L1.41663 4.25" stroke="#A7AFB3" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          <div class="form-floating">
            <%= f.email_field :email, class: "form-control", placeholder: "Email Address", autofocus: true, autocomplete: "email" %>
            <label for="user_email">Email Address</label>
          </div>
        </div>

        <!-- Password Field -->
        <div class="input-group mb-3">
          <span class="input-group-text">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.875 1.41669L13.4583 2.83335M13.4583 2.83335L15.5833 4.95835L13.1041 7.43752L10.9791 5.31252M13.4583 2.83335L10.9791 5.31252M8.06787 8.22377C8.43361 8.58464 8.72435 9.0143 8.92336 9.488C9.12237 9.9617 9.22571 10.4701 9.22743 10.9839C9.22915 11.4977 9.12922 12.0068 8.93339 12.4818C8.73756 12.9568 8.4497 13.3884 8.08639 13.7517C7.72307 14.115 7.29148 14.4029 6.81646 14.5987C6.34143 14.7945 5.83237 14.8945 5.31857 14.8927C4.80476 14.891 4.29638 14.7877 3.82268 14.5887C3.34898 14.3897 2.91932 14.0989 2.55845 13.7332C1.84879 12.9984 1.45611 12.0143 1.46499 10.9929C1.47387 9.97138 1.88359 8.99425 2.60591 8.27194C3.32823 7.54962 4.30535 7.1399 5.32683 7.13102C6.3483 7.12214 7.3324 7.51482 8.06716 8.22448L8.06787 8.22377ZM8.06787 8.22377L10.9791 5.31252" stroke="#A7AFB3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          <div class="form-floating">
            <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
            <label for="user_password">Password</label>
          </div>
        </div>

        <!-- Remember Me & Forgot Password -->
        <div class="forgot-pw">
          <% if devise_mapping.rememberable? %>
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>
          <%= link_to "Forgot Password?", new_password_path(resource_name), class: "text-link" %>
        </div>

        <!-- Login Button -->
        <div class="actions">
          <%= f.submit "Login", class: "btn btn-primary mt-4 w-100" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
