
	
	 <div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
		<div class="logo-sidebar">
			<%= image_tag("logo.png", alt: "ThreadingBrow Bar") %>
		</div>
		   <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
			  <li><a href="<%= current_user.admin? ? admin_dashboard_index_path : member_dashboard_index_path %> " class="<%= active_class('dashboard') %>"><span><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4 5.5C4 5.23478 4.10536 4.98043 4.29289 4.79289C4.48043 4.60536 4.73478 4.5 5 4.5H9C9.26522 4.5 9.51957 4.60536 9.70711 4.79289C9.89464 4.98043 10 5.23478 10 5.5V10.5C10 10.7652 9.89464 11.0196 9.70711 11.2071C9.51957 11.3946 9.26522 11.5 9 11.5H5C4.73478 11.5 4.48043 11.3946 4.29289 11.2071C4.10536 11.0196 4 10.7652 4 10.5V5.5ZM14 5.5C14 5.23478 14.1054 4.98043 14.2929 4.79289C14.4804 4.60536 14.7348 4.5 15 4.5H19C19.2652 4.5 19.5196 4.60536 19.7071 4.79289C19.8946 4.98043 20 5.23478 20 5.5V7.5C20 7.76522 19.8946 8.01957 19.7071 8.20711C19.5196 8.39464 19.2652 8.5 19 8.5H15C14.7348 8.5 14.4804 8.39464 14.2929 8.20711C14.1054 8.01957 14 7.76522 14 7.5V5.5ZM4 16.5C4 16.2348 4.10536 15.9804 4.29289 15.7929C4.48043 15.6054 4.73478 15.5 5 15.5H9C9.26522 15.5 9.51957 15.6054 9.70711 15.7929C9.89464 15.9804 +++++++++++++++10 16.2348 10 16.5V19.5C10 19.7652 9.89464 20.0196 9.70711 20.2071C9.51957 20.3946 9.26522 20.5 9 20.5H5C4.73478 20.5 4.48043 20.3946 4.29289 20.2071C4.10536 20.0196 4 19.7652 4 19.5V16.5ZM14 13.5C14 13.2348 14.1054 12.9804 14.2929 12.7929C14.4804 12.6054 14.7348 12.5 15 12.5H19C19.2652 12.5 19.5196 12.6054 19.7071 12.7929C19.8946 12.9804 20 13.2348 20 13.5V19.5C20 19.7652 19.8946 20.0196 19.7071 20.2071C19.5196 20.3946 19.2652 20.5 19 20.5H15C14.7348 20.5 14.4804 20.3946 14.2929 20.2071C14.1054 20.0196 14 19.7652 14 19.5V13.5Z" stroke="white" stroke-width="2"/>
				</svg>
				
				</span> Dashboard </a></li>
				<li><a href="<%= current_user.admin? ?  admin_services_path : member_services_path %>" class="<%= active_class('services') %>"><span class="line-fill"><svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_16_430)">
					<path d="M12.7945 18.1917C13.4402 18.1917 13.9636 17.6683 13.9636 17.0227C13.9636 16.377 13.4402 15.8536 12.7945 15.8536C12.1489 15.8536 11.6255 16.377 11.6255 17.0227C11.6255 17.6683 12.1489 18.1917 12.7945 18.1917Z" fill="white"/>
					<path d="M12.7804 11.2141C7.91802 11.2141 4.09501 15.6283 3.03921 16.9812C2.62786 17.5084 2.69262 18.2498 3.18995 18.706C6.39712 21.647 9.62376 23.1382 12.7804 23.1382C17.4434 23.1382 21.5275 19.8411 22.8694 18.7576C23.1529 18.5287 23.325 18.2098 23.354 17.8597C23.3826 17.514 23.268 17.177 23.0314 16.9108C21.5087 15.198 17.4615 11.2141 12.7804 11.2141ZM12.7804 21.8004C9.98178 21.8004 7.07295 20.4399 4.13257 17.7549C5.14571 16.4684 8.57931 12.5519 12.7804 12.5519C16.9802 12.5519 20.8355 16.4648 21.9873 17.7503C20.6952 18.7931 16.9253 21.8004 12.7804 21.8004ZM22.0319 17.8002C22.0318 17.8 22.0317 17.7999 22.0316 17.7998L22.5315 17.3554L22.0319 17.8002Z" fill="white"/>
					<path d="M12.7946 12.8465C10.3307 12.8465 8.32617 14.7199 8.32617 17.0227C8.32617 19.3254 10.3307 21.1988 12.7946 21.1988C15.2585 21.1988 17.263 19.3254 17.263 17.0227C17.263 14.7199 15.2585 12.8465 12.7946 12.8465ZM12.7946 19.8611C11.0684 19.8611 9.66404 18.5878 9.66404 17.0228C9.66404 15.4577 11.0684 14.1844 12.7946 14.1844C14.5207 14.1844 15.9252 15.4577 15.9252 17.0228C15.9252 18.5878 14.5208 19.8611 12.7946 19.8611Z" fill="white"/>
					<path d="M25.7602 8.17661C25.6668 8.09844 23.4247 6.24887 19.258 4.98916C15.4423 3.83548 9.2109 2.98335 1.19281 5.47555C0.733621 5.61832 0.355224 5.95085 0.154848 6.38785C-0.0463502 6.82608 -0.0516924 7.33031 0.140054 7.77109L1.31798 10.4799C1.51622 10.9357 1.90259 11.2803 2.3783 11.4254C2.54054 11.4749 2.70722 11.4993 2.87308 11.4993C3.19271 11.4993 3.5093 11.4088 3.78521 11.2328C6.57017 9.45768 14.2235 5.71777 25.1209 9.32478C25.4257 9.42604 25.7593 9.29577 25.9155 9.01518C26.0717 8.73459 26.0065 8.38257 25.7602 8.17661ZM11.0255 6.98314C7.13982 7.76131 4.3708 9.27292 3.06597 10.1047C2.97721 10.1613 2.86897 10.1766 2.76861 10.1457C2.66818 10.1151 2.58665 10.0424 2.5449 9.94621L1.36689 7.23744C1.3267 7.14514 1.32809 7.03887 1.37091 6.94575C1.41324 6.85345 1.49313 6.7831 1.58986 6.7531C9.24854 4.37275 15.1766 5.16505 18.8013 6.24879C19.3977 6.42714 19.953 6.61896 20.4662 6.81622C17.2495 6.31487 14.0897 6.36936 11.0255 6.98314Z" fill="white"/>
					<path d="M8.69283 6.82979C9.03327 6.82979 9.30925 6.55381 9.30925 6.21337C9.30925 5.87293 9.03327 5.59695 8.69283 5.59695C8.35239 5.59695 8.07642 5.87293 8.07642 6.21337C8.07642 6.55381 8.35239 6.82979 8.69283 6.82979Z" fill="white"/>
					<path d="M7.01819 5.94346C4.38864 6.39056 2.82327 7.1218 2.75802 7.15278C2.4503 7.29826 2.3188 7.6658 2.46435 7.97352C2.5735 8.20439 2.80758 8.33613 3.04773 8.32603C3.1277 8.32266 3.20825 8.30359 3.28517 8.26718C3.29964 8.26036 4.76087 7.57786 7.22489 7.15886C7.56055 7.10174 7.78641 6.78342 7.72928 6.44785C7.67208 6.11211 7.35245 5.88724 7.01819 5.94346Z" fill="white"/>
					</g>
					<defs>
					<clipPath id="clip0_16_430">
					<rect width="26" height="26" fill="white" transform="translate(0 0.5)"/>
					</clipPath>
					</defs>
					</svg>
					
					</span> Services </a></li>
					<li><a href="<%= current_user.admin? ? admin_coupons_path : member_coupons_path  %>" class="<%= active_class('coupons') %>"><span class="line-fill"><svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_14_349)">
						<path d="M25.1522 4.17392H0.847844C0.37959 4.17392 0 4.55351 0 5.02176V21.9783C0 22.4465 0.37959 22.8261 0.847844 22.8261H25.1522C25.6204 22.8261 26 22.4465 26 21.9783V5.02176C26 4.55351 25.6204 4.17392 25.1522 4.17392ZM24.3044 21.1304H9.04348V20.2826C9.04348 19.8144 8.66389 19.4348 8.19564 19.4348C7.72738 19.4348 7.34779 19.8143 7.34779 20.2826V21.1304H1.69564V5.86956H7.34779V6.7174C7.34779 7.1856 7.72738 7.56524 8.19564 7.56524C8.66389 7.56524 9.04348 7.18565 9.04348 6.7174V5.86956H24.3044V21.1304Z" fill="white"/>
						<path d="M8.19574 14.0087C7.72754 14.0087 7.3479 14.3883 7.3479 14.8565V17.5696C7.3479 18.0378 7.72749 18.4174 8.19574 18.4174C8.664 18.4174 9.04359 18.0378 9.04359 17.5696V14.8565C9.04359 14.3883 8.664 14.0087 8.19574 14.0087Z" fill="white"/>
						<path d="M8.19574 8.58261C7.72754 8.58261 7.3479 8.9622 7.3479 9.43045V12.1435C7.3479 12.6117 7.72749 12.9913 8.19574 12.9913C8.664 12.9913 9.04359 12.6117 9.04359 12.1435V9.43045C9.04359 8.9622 8.664 8.58261 8.19574 8.58261Z" fill="white"/>
						<path d="M13.2825 7.56519C11.88 7.56519 10.739 8.70619 10.739 10.1087C10.739 11.5111 11.88 12.6521 13.2825 12.6521C14.685 12.6521 15.826 11.5111 15.826 10.1087C15.826 8.70619 14.685 7.56519 13.2825 7.56519ZM13.2825 10.9565C12.815 10.9565 12.4347 10.5762 12.4347 10.1087C12.4347 9.64117 12.815 9.26082 13.2825 9.26082C13.75 9.26082 14.1303 9.64117 14.1303 10.1087C14.1303 10.5762 13.75 10.9565 13.2825 10.9565Z" fill="white"/>
						<path d="M20.0652 14.3478C18.6627 14.3478 17.5217 15.4889 17.5217 16.8913C17.5217 18.2938 18.6627 19.4348 20.0652 19.4348C21.4677 19.4348 22.6087 18.2938 22.6087 16.8913C22.6087 15.4888 21.4677 14.3478 20.0652 14.3478ZM20.0652 17.7391C19.5977 17.7391 19.2174 17.3588 19.2174 16.8913C19.2174 16.4238 19.5977 16.0434 20.0652 16.0434C20.5327 16.0434 20.9131 16.4238 20.9131 16.8913C20.9131 17.3588 20.5327 17.7391 20.0652 17.7391Z" fill="white"/>
						<path d="M20.87 9.30398C20.539 8.97289 20.0021 8.97289 19.671 9.30398L12.477 16.498C12.146 16.8291 12.146 17.3659 12.477 17.697C12.6426 17.8626 12.8596 17.9454 13.0765 17.9454C13.2935 17.9454 13.5105 17.8626 13.676 17.697L20.87 10.503C21.2011 10.1719 21.2011 9.63508 20.87 9.30398Z" fill="white"/>
						</g>
						<defs>
						<clipPath id="clip0_14_349">
						<rect width="26" height="26" fill="white" transform="translate(0 0.5)"/>
						</clipPath>
						</defs>
						</svg>
						
						</span> Combo Coupon </a></li>
						<li><a href="<%= current_user.admin? ? admin_members_path : member_members_path  %>" class="<%= active_class('members') %>"><span><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M21.6666 21.5V19.5C21.6666 18.4391 21.21 17.4217 20.3974 16.6716C19.5847 15.9214 18.4825 15.5 17.3333 15.5H8.66658C7.51731 15.5 6.41511 15.9214 5.60246 16.6716C4.7898 17.4217 4.33325 18.4391 4.33325 19.5V21.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M13.0001 11.5C15.3933 11.5 17.3334 9.70914 17.3334 7.5C17.3334 5.29086 15.3933 3.5 13.0001 3.5C10.6068 3.5 8.66675 5.29086 8.66675 7.5C8.66675 9.70914 10.6068 11.5 13.0001 11.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							
							</span> Customers </a></li>
							<li> <%= link_to destroy_user_session_path, method: :delete do %>
								<svg width="22" height="	23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
  
								  <g clip-path="url(#clip0_74_2143)">
								  <path d="M10.3125 20.975H1.52502V2.02502H10.3125C10.7749 2.02502 11.15 1.64983 11.15 1.18754C11.15 0.725242 10.7748 0.350061 10.3125 0.350061H0.68748C0.225189 0.350061 -0.15 0.725176 -0.15 1.18754V21.8125C-0.15 22.2748 0.225189 22.6499 0.68748 22.6499H10.3124C10.7748 22.6499 11.1499 22.2748 11.1499 21.8125C11.15 21.3501 10.7748 20.975 10.3125 20.975Z" fill="white" stroke="white" stroke-width="0.3"/>
								  <path d="M17.1635 6.10277L17.1638 6.10299L21.9066 10.9139C21.9067 10.914 21.9069 10.9142 21.9071 10.9144C22.2335 11.2404 22.2289 11.7821 21.9068 12.1072L17.1635 6.10277ZM17.1635 6.10277C16.836 5.77186 16.3051 5.77269 15.9783 6.10264C15.6515 6.432 15.6515 6.96633 15.9783 7.29569L19.3013 10.6666H5.50218C5.03845 10.6666 4.6647 11.0459 4.6647 11.511C4.6647 11.9761 5.03852 12.3554 5.50218 12.3554H19.3013L15.9782 15.7264C15.9782 15.7264 15.9782 15.7265 15.9781 15.7265C15.6516 16.0564 15.6514 16.5898 15.9782 16.9192C16.3056 17.25 16.8367 17.2502 17.1637 16.9191L17.1638 16.919L21.9064 12.1075L17.1635 6.10277Z" fill="white" stroke="white" stroke-width="0.3"/>
								  </g>
								  <defs>
								  <clipPath id="clip0_74_2143">
								  <rect width="22" height="22" fill="white" transform="translate(0 0.5)"/>
								  </clipPath>
								  </defs>
								  </svg>
								  
								  </span> Logout </a></li>
							  <% end %>
		   </ul>
		</div>
		<div class="red-shadow top"></div>
	<div class="red-shadow center"></div>
		<!-- /#sidebar-wrapper -->
		<!-- Page Content -->
		<div id="page-content-wrapper">
		   <div class="container-fluid">
			<div class="navbar-header fixed-brand">
				<a  class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3 12H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M3 6H16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M3 18H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						
					</a>
				
			 </div>
			 
   <% search_path = case controller_name
       when 'coupons' then admin_coupons_path
       when 'services' then admin_services_path
       when 'members' then admin_members_path
       when 'users' then admin_users_path
       else '#'
    end %>
    
    <div class="search-main">
      <form action="<%= search_path %>" method="get" class="d-flex align-items-center" style="width: 100%;">
        <input type="text" name="q" id="searchInput" value="<%= params[:q].to_s %>" class="form-control search-field" placeholder="Search" aria-label="Input group example" aria-describedby="basic-addon1">

        <% if params[:q].present? %>
          <button 
            type="button" 
            id="clearSearch" 
            style="position: absolute; right: 70px; background: transparent; border: none; font-size: 22px; color: #999; cursor: pointer; padding: 0; line-height: 1;"
            aria-label="Clear search"
          >
            &times;
          </button>
        <% end %>
        

        <button type="submit" class="search-icon" style="border: none; background: transparent; padding: 0; margin: 0;">
          <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.3933 29.94C28.8205 30.3672 29.5129 30.3672 29.94 29.94C30.3672 29.5129 30.3672 28.8205 29.94 28.3933L28.3933 29.94ZM23.8053 23.8346C24.2331 23.4081 24.2343 22.7156 23.8079 22.2877C23.3815 21.8598 22.6889 21.8587 22.261 22.2851L23.8053 23.8346ZM24.9594 17.2824C24.8392 17.8744 25.2216 18.4517 25.8137 18.5719C26.4056 18.692 26.983 18.3095 27.1031 17.7176L24.9594 17.2824ZM15.3125 25.1562C9.87595 25.1562 5.46875 20.749 5.46875 15.3125H3.28125C3.28125 21.9571 8.66782 27.3438 15.3125 27.3438V25.1562ZM5.46875 15.3125C5.46875 9.87595 9.87595 5.46875 15.3125 5.46875V3.28125C8.66782 3.28125 3.28125 8.66782 3.28125 15.3125H5.46875ZM15.3125 5.46875C20.749 5.46875 25.1562 9.87595 25.1562 15.3125H27.3438C27.3438 8.66782 21.9571 3.28125 15.3125 3.28125V5.46875ZM29.94 28.3933L23.8333 22.2864L22.2864 23.8333L28.3933 29.94L29.94 28.3933ZM22.261 22.2851C20.4795 24.0606 18.025 25.1562 15.3125 25.1562V27.3438C18.6271 27.3438 21.6303 26.0019 23.8053 23.8346L22.261 22.2851ZM25.1562 15.3125C25.1562 15.9881 25.0883 16.6469 24.9594 17.2824L27.1031 17.7176C27.2611 16.9396 27.3438 16.1351 27.3438 15.3125H25.1562Z" fill="#DE0144"/>
          </svg>
        </button>
      </form>
    </div>
    
     
     <div class="user-info">
       <%= current_user.name %>
       <span class="user-role"><%= current_user.admin? ? 'Admin' : 'Member' %></span>
     </div>
     
		  
		</div>
		<hr class="mt-3">
		<div class="container-fluid px-md-4 pt-md-4">

  

<script>

$(document).ready(function () {
    $('#clearSearch').on('click', function (e) {
      e.preventDefault();
      var url = new URL(window.location.href);
      url.searchParams.delete('q');
      window.location.href = url.toString();
    });
  });

$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  function initMenu() {
    $('#menu ul').hide();
    $('#menu ul').children('.current').parent().show();
    //$('#menu ul:first').show();
    $('#menu li a').click(
       function() {
          var checkElement = $(this).next();
          if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
             return false;
          }
          if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
             $('#menu ul:visible').slideUp('normal');
             checkElement.slideDown('normal');
             return false;
          }
       }
    );
  }
  $(document).ready(function() {
    initMenu();
    $("#select").select2({
      tags: true,
      theme: "bootstrap",
   });
   
  });
</script>